
{% extends "main/Base.html" %}

{% block title%} Chat AI {% endblock %}

{% block content %} 


<div class="container" width: 75%>
    <form method = "post", action="#">
        {% csrf_token %}
    <div class="card text-center">
        <div class="card-header">Chat with AI</div>
        <div class="card-body">
        <p class="card-text">Enter a prompt</p>
        <div class="container text-center">
            <div> 

                <div class="container overflow-hidden">
                    <div class="row gy-5">
                        {% if qa_pairs %}
                            {% for question, answer in qa_pairs %}
                                <div class="col-12">
                                    <div class="p-3 border rounded bg-light text-dark mb-2">
                                        <strong>Question:</strong> {{ question }}
                                    </div>
                                    <div class="p-3 border rounded bg-light text-dark mb-2">
                                        <strong>Answer:</strong> {{ answer }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
                
                        
            <div class="input-group mb-3">
                
                <input type="text" class="form-control" placeholder="Max limit is 2000 character" aria-label="Recipient's username" aria-describedby="button-addon2" name = "Search">
                <button class="btn btn-outline-secondary" type="submit"  id="button-addon2">Search</button>
            </div>

        </div>
        <div class="card-footer text-body-secondary">
        Made by Cracking Astro
        </div>
    </div>
    </form>
</div>


{% endblock %}

